body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
}

.sidebar {
    grid-row: span 3;
    background-color: skyblue;
    padding: 30px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 4fr;
}

.dashLogo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    grid-column: span 2;
    grid-row: span 1;
}

.dashLogoImg {
    width: 30px;
    height: 30px;
}

.tabs, .support {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: bold;
}

.tabs {
    grid-column: span 2;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar h2 {
    color: white;
}

.tab-list, .support-list{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.tabLogo {
    width: 20px;
    height: 20px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    align-items: center;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top-left {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

.top-left > img {
    justify-self: center;
}

.top-right {
    justify-self: end;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 5px;
}

.top-right span {
    font-weight: bold;
    font-size: 30px;
}

.top-right > .avatar {
    width: 40px;
    height: 40px;
}

.header-img {
    width: 20px;
    height: 20px;
}

.header-search {
    border-radius: 20px;
    background-color: lightgray;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr;
}